<template>
    <q-page class="flex flex-center">
      <!-- <q-card dark bordered class="bg-grey-9 my-card"> -->
      <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
        <q-card-section>
          <div class="text-h6 text-center">Movies Collection</div>
          <!-- <div class="text-subtitle2">by John Doe</div> -->
        </q-card-section>

        <!-- <q-separator dark inset /> -->
        <div class="line"></div>

        <MoviesListPage />

        <q-card-section class="q-mt-xl">
          <q-btn
            @click="onDetail"
            fab
            color="primary"
            icon="add"
            class="absolute"
            style="top: 0; right: 12px; transform: translateY(-50%);"
          />
        </q-card-section>

      </q-card>
    </q-page>
  </template>
  
  <script>
  import { defineComponent, ref, onBeforeUnmount  } from 'vue'
  import MoviesListPage from './MoviesListPage.vue'
  import { useQuasar } from 'quasar'
  
  export default defineComponent({
    name: 'MovieCollectionPage',
    
    components: {
      MoviesListPage
    },
    setup () {
      const $q = useQuasar()
      let timer
      
      onBeforeUnmount(() => {
        if (timer !== void 0) {
          clearTimeout(timer)
          $q.loading.hide()
        }
      })
      return {
        ori_list_movies: ref([]),
        list_movies: ref([]),
        showLoading () {
          $q.loading.show()

          // hiding in 2s
          timer = setTimeout(() => {
            $q.loading.hide()
            timer = void 0
          }, 1000)
        }
      }
    },
    methods:{
      onDetail(){
        // localStorage.removeItem("detail_movies")
        this.$store.dispatch("action_detailmovies", '')
        this.showLoading()
        setTimeout(() => {
          this.$router.push({ path: `/movie/edit`});
        }, 2000)
      }
    }
  })
  </script>

<style lang="scss">
  .my-card{
    width: 100%;
    max-width: 250px;
  }
  .line {
    flex: 1;
    border-bottom: 1px solid black;
  }
  .q-field__native{
    color: white;
  }
</style>
  