<template>
    <q-page class="flex flex-center">
      <!-- <q-card dark bordered class="bg-grey-9 my-card"> -->
      <q-card class="my-card text-white" style="background: radial-gradient(circle, #35a2ff 0%, #014a88 100%)">
        <q-card-section class="q-mt-lg" align="right">
          <q-btn @click="beforeDelete" color="red q-mr-sm">
            <div>D</div>
          </q-btn>
          <q-btn @click="beforeSave" color="teal">
            <div>S</div>
          </q-btn>
        </q-card-section>

        <div class="line"></div>

        <div class="q-px-sm q-mt-sm">
          <q-input class="outline-custom-title input-custom" outlined v-model="title_movie" label="Title" :dense="dense" />
        </div>

        <div class="q-px-sm q-mt-sm">
          <q-input class="outline-custom-director input-custom" outlined v-model="director_movie" label="Director" :dense="dense" />
        </div>

        <div class="q-px-sm q-mt-sm">
          <q-input maxlength="100" class="outline-custom-summary input-custom" outlined v-model="summary_movie" label="Summary" type="textarea" :dense="dense" />
        </div>
        
        <q-card-section class="">
          <q-chip v-model:selected="genres.Action" color="primary" text-color="white">
            Action
          </q-chip>
          <q-chip v-model:selected="genres.Animation" color="primary" text-color="white">
            Animation
          </q-chip>
          <q-chip v-model:selected="genres.Drama" color="primary" text-color="white">
            Drama
          </q-chip>
          <q-chip v-model:selected="genres.Sci_Fi" color="primary" text-color="white">
            Sci-Fi
          </q-chip>
        </q-card-section>
       
      </q-card>
      
      <q-dialog v-model="confirmDelete" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <!-- <q-avatar icon="signal_wifi_off" color="primary" text-color="white" /> -->
            <span class="q-ml-sm">Do you want delete <span class="text-bold">{{ details_movie.title }}</span> movie?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="negative" v-close-popup />
            <q-btn @click="onDelete()" flat label="Yes" color="positive" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

      <q-dialog v-model="confirmSave" persistent>
        <q-card>
          <q-card-section class="row items-center">
            <!-- <q-avatar icon="signal_wifi_off" color="primary" text-color="white" /> -->
            <span class="q-ml-sm">Do you want Save <span class="text-bold">{{ title_movie }}</span> movie?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="negative" v-close-popup />
            <q-btn @click="onSave()" flat label="Yes" color="positive" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>

    </q-page>
  </template>
  
  <script>
  import { defineComponent, ref, reactive, computed, onBeforeUnmount } from 'vue'
  import { useQuasar } from 'quasar'
  
  export default defineComponent({
    name: 'MovieEditPage',

    setup () {
      const $q = useQuasar()
      let timer
      
      onBeforeUnmount(() => {
        if (timer !== void 0) {
          clearTimeout(timer)
          $q.loading.hide()
        }
      })

      const genres = reactive({
        Action: false,
        Drama: false,
        Animation: false,
        Sci_Fi: false
      })
      return {
        details_movie: ref({}),
        list_movies: ref([]),
        title_movie: ref(''),
        director_movie: ref(''),
        summary_movie: ref(''),
        id_movie: ref(),
        confirmDelete: ref(false),
        confirmSave: ref(false),
        genres,
        genres_selection: computed(() => {
          return Object.keys(genres)
            .filter(type => genres[ type ] === true)
            // .join(', ')
        }),
        showNotif (msg,colorMsg) {
          $q.notify({
            message: `${msg}`,
            color: `${colorMsg}`
          })
        },
        showLoading () {
          $q.loading.show()
          // hiding in 2s
          timer = setTimeout(() => {
            $q.loading.hide()
            timer = void 0
          }, 2000)
        },
        showData: false
      }
    },
    mounted(){
      this.$el.addEventListener('click', this.onClickedAny)
      this.loadFirst()
    },
    methods:{
      loadFirst(){
        // console.log(this.$store.getters.detail_movies)
        this.details_movie = this.$store.getters.detail_movies !== "" ? JSON.parse(this.$store.getters.detail_movies) : null;
        this.list_movies = this.$store.getters.list_movie !== "" ? JSON.parse(this.$store.getters.list_movies) : [];
        setTimeout(() => {
          this.showData = true
        }, 2000)
        if(this.details_movie !== null){
          this.title_movie = this.details_movie.title
          this.director_movie = this.details_movie.director
          this.summary_movie = this.details_movie.summary
          this.genres.Action = this.details_movie.genres.includes("Action")
          this.genres.Drama = this.details_movie.genres.includes("Drama")
          this.genres.Animation = this.details_movie.genres.includes("Animation")
          this.genres.Sci_Fi = this.details_movie.genres.includes("Sci-Fi")
          this.id_movie = this.details_movie.id
        }
      },
      onClickedAny: function (evt){
        // const labelTitle = document.querySelector('label');
        // const inputTitle = document.querySelector(".q-field__label")
        const labelTitle = document.querySelector('.outline-custom-title');
        const labelDirector = document.querySelector('.outline-custom-director');
        const labelSummary = document.querySelector('.outline-custom-summary');
        // console.log(labelTitle.classList.contains("q-field--focused"))
        // console.log("title-",this.title_movie)
        if(this.title_movie !== "" && !labelTitle.classList.contains("q-field--focused")){
          // inputTitle.style.display = 'none';
          // labelTitle.forEach((item) => item.classList.add("q-field--focused"));
          labelTitle.classList.toggle("q-field--focused")
          // this.$forceUpdate();
        }

        if(this.director_movie !== "" && !labelDirector.classList.contains("q-field--focused")){
          labelDirector.classList.add("q-field--focused")
        }

        if(this.summary_movie !== "" && !labelSummary.classList.contains("q-field--focused")){
          labelSummary.classList.add("q-field--focused")
        }
        // else{
        //   inputTitle.style.display = 'block';
        // }
      },
      beforeSave(){
        this.confirmSave = true
      },
      onSave(){
        let res_genre = Object.values(this.genres_selection).map(name => name === "Sci_Fi" ? "Sci-Fi" : name)
        if(this.details_movie !== null){
          this.list_movies.map((item) => {
            if(item.id === this.id_movie){
              item.title = this.title_movie
              item.director = this.director_movie
              item.summary = this.summary_movie
              item.genres = res_genre
            }
            return item
          })
        }else{
          let tempUpdate = {
            id: this.randomString(),
            title: this.title_movie,
            director: this.director_movie,
            summary: this.summary_movie,
            genres: res_genre
          }
          this.list_movies.push(tempUpdate)
        }
        this.$store.dispatch("action_listmovies", this.list_movies)
        this.showLoading()
        setTimeout(() => {
          this.showNotif('Success add','green')
          this.goBackMoviesMenu()
        }, 2000)
      },
      beforeDelete(){
        if(this.details_movie === null){
          this.showNotif('the movie has not in db','red')
        }else{
          this.confirmDelete = true
        }
      },
      onDelete(){
        if(this.list_movies.length !== 0 && this.details_movie !== null){
          let newData = this.list_movies.filter((item) => {
            return item.id !== this.id_movie
          })
          this.list_movies = newData
          this.$store.dispatch("action_listmovies", this.list_movies)
          this.showLoading()
          setTimeout(() => {
            this.showNotif('Success delete','green')
            this.goBackMoviesMenu()
          }, 2000)
        }
      },
      goBackMoviesMenu(){
        this.$router.push({ path: `/movie`});
      },
      randomString() {
          return [...Array(5)].map((value) => (Math.random() * 1000000).toString(36).replace('.', '')).join('');
      }
    },
    watch:{
      search_movie(){this.onSearch()}
    }
  })
  </script>

<style lang="scss">
  .my-card{
    width: 100%;
    max-width: 250px;
  }
  .line {
    flex: 1;
    border-bottom: 1px solid black;
  }

  .q-field__label{
    color: white;
  }

  .input-custom.q-field--focused {
    .q-field__label{
      color: white;
      top: 3px;
      background: #1976D2 10%;
      z-index: 1;
      padding: 1%;
      padding-left: 2%;
      padding-right: 2%;
    }
  }

  .q-field__native{
    color: white;
  }
</style>
  