<template>
    <!-- <q-page class="flex flex-center"> -->

        <div class="q-px-sm q-mt-sm">
          <q-input filled v-model="search_movie" placeholder="Search by title..." :dense="dense" />
        </div>

        <div class="scroll" style="max-height: 300px;">
            <div style="cursor: pointer;" v-for="(itm,index) in list_movies" :key="index" class="q-px-sm q-mt-sm" @click="onDetail(itm)">
            <q-card class="my-card bg-secondary text-white">
                <q-card-section>
                <div class="text-h6">{{ itm.title }}</div>
                <div class="text-subtitle2">{{ itm.director }}</div>
                </q-card-section>
                <q-card-actions align="right">
                <div class="text-subtitle2">{{ Object.values(itm.genres).map(name => name === "Sci_Fi" ? "Sci-Fi" : name).join(' / ') }}</div>
                </q-card-actions>
            </q-card>
            </div>
        </div>

        <!-- <div class="q-px-sm q-mt-sm">
          <q-card class="my-card bg-secondary text-white">
            <q-card-section>
              <div class="text-h6">Frozen</div>
              <div class="text-subtitle2">Chris Buck</div>
            </q-card-section>
            <q-card-actions align="right">
              <div class="text-subtitle2">Animation</div>
            </q-card-actions>
          </q-card>
        </div> -->
    <!-- </q-page> -->
  </template>
  
  <script>
  import { defineComponent, ref, onBeforeUnmount } from 'vue'
  import {OnMoviesData} from '../../services/movies_service'
  import { useQuasar } from 'quasar'
import { data } from 'autoprefixer'
  
  export default defineComponent({
    name: 'ListMoviePage',
    

    setup () {
        const $q = useQuasar()
      let timer
      
      onBeforeUnmount(() => {
        if (timer !== void 0) {
          clearTimeout(timer)
          $q.loading.hide()
        }
      })
      return {
        ori_list_movies: ref([]),
        list_movies: ref([]),
        list_genres: ref(''),
        search_movie: ref(''),
        showLoading () {
          $q.loading.show()

          // hiding in 2s
          timer = setTimeout(() => {
            $q.loading.hide()
            timer = void 0
          }, 2000)
        }
      }
    },
    mounted(){
      this.loadFirst()
    },
    methods:{
      async loadFirst(){
        let moviesData = this.$store.getters.list_movie !== "" ? JSON.parse(this.$store.getters.list_movies) : [];
        if(moviesData.length == 0){
          this.$store.dispatch("action_listmovies", await OnMoviesData())
        }
        this.list_movies = moviesData
      },
      onDetail(data){
        this.$store.dispatch("action_detailmovies", data)
        this.showLoading()
        setTimeout(() => {  
            this.$router.push({ path: `/movie/edit`});
        }, 2000)
      },
      onSearch(){
        let moviesData = this.$store.getters.list_movie !== "" ? JSON.parse(this.$store.getters.list_movies) : [];
        if(moviesData.length != 0){
          this.list_movies = moviesData
          this.ori_list_movies = moviesData
          // let dataSort = moviesData.sort((a, b) => a.title.localeCompare(b.title));
          if(this.search_movie !== ""){
            this.showLoading()
            let dataFilter = moviesData.filter((item) => {
              return item.title === this.search_movie
            })
            setTimeout(() => {  
                this.list_movies = dataFilter
            }, 1000)
              // this.$forceUpdate();
          }
          if(this.search_movie === ""){
            this.showLoading()
            // this.$forceUpdate();
            setTimeout(() => {  
                this.list_movies = this.ori_list_movies
            }, 1000)
          }
        }
      }
    },
    watch:{
      search_movie(){this.onSearch()}
    }
  })
  </script>

<style lang="scss">
  .my-card{
    width: 100%;
    max-width: 250px;
  }
</style>
  